{{#em-modal-title}}
    {{#em-modal-toggler class="close"}}<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
    <h4 class="modal-title">Enter link address</h4>
{{/em-modal-title}}

{{#em-modal-body}}
      {{input placeholder="http://example.com" action="addLink" value=linkHref class="form-control"}}
{{/em-modal-body}}
{{#em-modal-footer}}
    {{#em-modal-toggler class="btn btn-default"}}Close{{/em-modal-toggler}}
    <button type="submit" class="btn btn-primary" {{ action 'addLink' }}>Add link</button>
{{/em-modal-footer}}
