{{#em-modal id=confirm-id configName=configName model-id=model-id tabindex="-1" role="dialog" aria-hidden="true" open-if=open-if close-if=close-if}}
    {{#em-modal-title}}
        {{#em-modal-toggler class="close" aria-label="Close"}}<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
        <h4 class="modal-title">{{title}}</h4>
    {{/em-modal-title}}
    {{#em-modal-body}}
        {{message}}
    {{/em-modal-body}}
    {{#em-modal-footer}}
        <button type="button" class="btn btn-primary" {{action "confirmPressed"}}>Yes</button>
        {{#em-modal-toggler class="btn btn-default"}}No{{/em-modal-toggler}}
    {{/em-modal-footer}}
{{/em-modal}}
